* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}

body {
    height: 100vh;
}

.container .header {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header h1 {
    margin: 0;
}

.container .header h1 a {
    text-decoration: none;
}

.container .header .menu li a {
    text-decoration: none;
}

.container .header .menu li a:hover {
    color:darkslategray;
}

.container .menu ul li {
    display: inline-block;
    margin: 0 20px;
    font-size: 1.2rem;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 20px white;
    margin: 0;
}

.content-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-a {
    display: inline-block;
    margin: 20px;
}

.side-bar li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 80px;
    font-size: 2.5rem;
}

.text-a {
    display: inline-block;
    height: 500px;
}

.image-aa {
    margin-bottom: 30px;
}