* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}

body {
    height: 100vh;
}

.header h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-family: 'Sacramento', cursive;
    background-color: #d1c4e9;
    margin: 0;
}

.side-bar {
    display: block;
    position: fixed;
    left: 0;
    margin-left: 10%;
    margin-top: 5%;
}

.side-bar li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
}

#Home h2 {
    margin-top: 50px;
    font-family: 'Gaegu', cursive;
    font-size: 2rem;
}

h2 {
    text-align: center;
    margin: 20px;
    margin-top: 100px;
    font-family: 'Gaegu', cursive;
    font-size: 2rem;
}

.AboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gaegu', cursive;
    font-size: 1.2rem;
}

.AboutMe-image {
    margin: 20px 70px;
}

.AboutMe-image img {
    width: 250px;
    border-radius: 50%;
}

.Book {
    margin-top: 100px;
    font-family: 'Gaegu', cursive;
    font-size: 1.2rem;
}

.Book-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Book-list-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Book-list-image {
    display: inline-block;
    margin: 5px 20px;
}

.Book-list-image img {
    width: 300px;
    border-radius: 5px;
}

.Book-list-text {
    display: inline-block;
    width: 500px;
}

.Plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'Gaegu', cursive;
    font-size: 1.2rem;
}

.Plan-image-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Plan-image-list-content {
    margin: 20px;
}

.Plan-image-list-content img {
    border: 2px solid black;
    width: 400px;
    border-radius: 5px;
}

.Plan-text {
    display: inline-block;
    width: 850px;
}

.Photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'Gaegu', cursive;
    font-size: 1.2rem;
}

.Photo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.Photo-list-image img {
    width: 400px;
    border-radius: 5px;
}

.Photo-list-text {
    display: inline-block;
    width: 400px;
    margin-top: 20px;
}

.Certificate {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gaegu', cursive;
    font-size: 1.2rem;
}

.Certificate-list {
    margin: 20px;
}

.Certificate-image img {
    width: 250px;
}

.Certificate-text {
    text-align: center;
    margin-top: 10px;
}

.Practice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    font-family: 'Gaegu', cursive;
    font-size: 1.2rem;
}

.Practice-content {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.Practice-content img {
    width: 200px;
}

.Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ede7f6;
    font-family: 'Gaegu', cursive;
    font-size: 1.2rem;
}

.Contact-image {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.Contact-image img {
    width: 50px;
}

@media (max-width: 767px){

    .side-bar {
        display: none;
    }

    .AboutMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .AboutMe-image img {
        width: 100%;
        border-radius: 0px;
    }

    .AboutMe-text {
        display: inline-block;
        width: 300px;
    }

    .Book-list {
        display: flex;
        flex-direction: column;
    }

    .Book-list-bottom {
        margin-top: 30px;
        display: flex;
        flex-direction: column-reverse;
    }

    .Book-list-text {
        display: inline-block;
        width: 300px;
    }

    .Plan-image-list {
        display: block;
    }

    .Plan-image-list-content img {
        width: 100%;
    }
    
    .Plan-text {
        display: inline-block;
        width: 320px;
    }

    .Photo {
        display: block;
    }

    .Photo-list img {
        width: 100%;
    }

    .Photo-list-text {
        display: inline-block;
        width: 320px;
    }

    .Certificate {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Practice {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 1200px) {
    .side-bar {
        display: none;
    }
}