* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    font-family: 'Dongle', sans-serif;
}

body {
    height: 100vh;
}

.container .header {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header h1 {
    margin: 0;
    font-size: 5rem;
}

.container .header .menu li a:hover {
    color:indianred;
}

.container .menu ul li {
    display: inline-block;
    margin: 0 20px;
    font-size: 2rem;
}

img {
    border-radius: 5px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 20px white;
    margin: 0;
}

.content-a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.image-a {
    display: inline-block;
    margin: 20px;
}

.side-bar {
    display: block;
    position: fixed;
    left: 0;
    margin-left: 10%;
}

.side-bar li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
}

.side-bar li:hover {
    border-bottom: 4px solid black;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.text-a {
    display: inline-block;
    height: 500px;
    margin:0;
}

.image-aa {
    margin-bottom: 10px;
}

.text-aa {
    font-size: 1.3rem;
}

.content-a2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.image-a2 {
    display: inline-block;
    margin: 10px;
}

.text-a2 {
    display: inline-block;
    width: 500px;
    font-size: 1.3rem;
}

.content-a3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.text-a3 {
    display: inline-block;
    width: 1000px;
    font-size: 1.3rem;
}

.image-ph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-a4 {
    display: inline-block;
    width: 500px;
    font-size: 1.3rem;
    margin-bottom: 25px;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.image-p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-p1 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color:#FFDFDE;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
}

.image-p2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color:#E69A8D;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
}

.image-c1 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color:#DCE2F0;
    padding: 10px;
    border-radius: 5px;
}

.image-c2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color:#9CC3D5;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 1370px) { 
    .side-bar li {
        display: none;
    }
}

@media (max-width: 1088px) { 
    .container .menu ul li {
        margin: 0 5px;
        font-size: 0.8rem;
    }

    .content-a {
        display: flex;
        flex-direction: column;
    }

    .content-a img {
        width: 100%;
    }

    .image-aa img {
        width: 100%;
        margin-left: 10px;
    }

    .text-aa {
        margin-left: 20px;
    }

    .content-a2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .text-a2 {
        display: inline-block;
        width: 100%;
        margin-left: 20px;
    }

    .content-a3 img {
        width: 100%;
    }

    .image-a2 img {
        width: 100%;
    }

    .text-a3 {
        display: inline-block;
        width: 100%;
        margin-left: 20px;
    }

    .text-a4 {
        display: inline-block;
        width: 100%;
        margin-left: 20px;
    }

    .image-p {
        display: flex;
        flex-direction: column;
    }
}