* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}

body {
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 20px;
    background-color: lightpink;
}

.side-bar {
    display: block;
    position: fixed;
    left: 0;
    margin-left: 10%;
    margin-top: 5%;
}

.side-bar li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    margin: 20px;
}

.content-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-a {
    margin: 20px 70px;
}

.image-a img {
    width: 250px;
    border-radius: 50%;
}

.content-a2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-a2 {
    display: inline-block;
    margin: 5px 20px;
}

.image-a2 img {
    width: 300px;
    border-radius: 5px;
}

.text-a2 {
    display: inline-block;
    width: 500px;
}

.content-aaa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-a3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-a31 {
    margin: 20px;
}

.image-a31 img {
    border: 2px solid black;
}

.image-a31 img {
    width: 400px;
    border-radius: 5px;
}

.text-a3 {
    display: inline-block;
    width: 850px;
}

.content-aaaa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-a4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.image-a4 img {
    width: 400px;
    border-radius: 5px;
}

.text-a42 {
    display: inline-block;
    width: 400px;
}

.content-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.license {
    margin: 20px;
}

.license img {
    width: 250px;
}

.text-c {
    text-align: center;
}

.image-p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-p1 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.image-p1 img {
    width: 200px;
}

.image-c {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
}

.image-c1 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.image-c1 img {
    width: 50px;
}